[Unit]
Description=Reapply BlockDAG runtime priorities

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=15s
Persistent=true
RandomizedDelaySec=10s

[Install]
WantedBy=timers.target
